:root {
  --phoenix-navbar-button-width: calc(16px + 2 * (var(--toolbarbutton-inner-padding) + var(--toolbarbutton-outer-padding)));
  --phoenix-window-bar-height: calc(var(--tab-min-height) + var(--inline-tab-padding));
  --phoenix-window-control-margin: 0;
}

/* macOS */
@media (-moz-platform: macos) {
  :root {
    --phoenix-macos-window-margin: 4px;
    --phoenix-window-control-margin: 66px;

    &[tabsintitlebar] {
      &[inFullscreen] {
        --phoenix-window-control-margin: 0;
      }
    }
  }

  .titlebar-buttonbox-container {
    height: var(--phoenix-window-bar-height);
    left: 0;
    position: absolute;
  }

  #titlebar {
    margin-right: var(--phoenix-macos-window-margin);
  }

  @media ((not (max-width: 700px))) {
    #nav-bar {
      margin-left: calc(var(--phoenix-window-control-margin) + var(--phoenix-window-dragging-area-width));
    }
  }

  @media (max-width: 700px) {
    #navigator-toolbox {
      #nav-bar {
        margin-left: calc(var(--phoenix-window-control-margin) + var(--phoenix-window-dragging-area-width));
        min-width: calc(100vw - var(--phoenix-window-control-margin) - var(--phoenix-window-dragging-area-width) - var(--phoenix-macos-window-margin)) !important;
      }

      #titlebar {
        margin-left: calc(var(--phoenix-window-control-margin) + var(--phoenix-window-dragging-area-width));
        min-width: calc(100vw - var(--phoenix-window-control-margin) - var(--phoenix-window-dragging-area-width) - var(--phoenix-macos-window-margin)) !important;
      }
    }
  }
}

/* Windows */
@media (-moz-platform: windows) {
  :root {
    --phoenix-window-control-margin: 138px;
  }

  #toolbar-menubar {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    &:not([inactive]) {
      height: var(--phoenix-window-bar-height) !important;
    }
  }

  #titlebar {
    &:has(#toolbar-menubar:not([inactive])) {
      #TabsToolbar,
      & + #nav-bar {
        margin-top: calc(var(--tab-min-height) / 2);
      }
    }

    .titlebar-buttonbox-container {
      margin-left: var(--phoenix-window-dragging-area-width);
    }
  }

  #nav-bar {
    &:not(:has(toolbaritem:first-child)),
    &:not(:has(toolbarpaletteitem:first-child > toolbaritem)) {
      margin-left: 2px;
    }
  }

  @media (max-width: 700px) {
    #navigator-toolbox {
      #titlebar {
        &:has(#toolbar-menubar:not([inactive])) {
          & + #nav-bar {
            margin-top: calc(-1 * var(--phoenix-window-bar-height));
          }
        }
      }

      #nav-bar {
        min-width: calc(100vw - var(--phoenix-window-control-margin) - var(--phoenix-window-dragging-area-width)) !important;
      }

      #PanelUI-button {
        margin-right: 4px;
      }
    }
  }
}
