:root {
  --phoenix-single-tab-width: 700px;

  &:has(#toolbar-menubar:not([inactive])),
  &:not([tabsintitlebar]),
  &[inFullscreen],
  &[sizemode="maximized"] {
    --phoenix-window-dragging-area-height: 0 !important;
  }
}

#navigator-toolbox {
  flex-direction: row;
  flex-wrap: wrap;
}

#TabsToolbar {
  order: 2;
}

#nav-bar {
  order: 1;

  & ~ * {
    flex-basis: 100vw;
    order: 3;
  }
}

.titlebar-buttonbox-container {
  margin-bottom: var(--phoenix-window-dragging-area-height) !important;
}

@media (max-width: 700px) {
  #nav-bar {
    --phoenix-urlbar-expanded-inset: 16px;
  }

  #navigator-toolbox {
    & > * {
      order: unset;
      min-width: 100vw !important;
    }

    :is(#TabsToolbar, #tabbrowser-tabs, #nav-bar, #urlbar-container:where(#urlbar, .urlbar-input-container)) {
      transition: opacity var(--phoenix-transition-delay);
    }

    :is(#urlbar, #urlbar-container) {
      min-width: unset;
    }
  }

  #TabsToolbar {
    height: var(--phoenix-window-bar-height);

    #tabbrowser-tabs {
      pointer-events: none;

      .tabbrowser-tab {
        --tab-selected-bgimage: transparent !important;
        --toolbar-bgcolor: transparent !important;

        -moz-box-flex: unset !important;
        margin-inline-end: auto !important;
        max-width: unset !important;
        width: max-content !important;

        &:not([visuallyselected]) {
          display: none;
        }

        .tab-text {
          font-weight: 600;
        }

        .tab-close-button {
          display: none;
        }

        .tab-background {
          opacity: 0;
        }
      }
    }
  }

  #nav-bar {
    margin-top: calc(-1 * var(--phoenix-window-bar-height));
    z-index: 5;

    #urlbar-container {
      width: var(--phoenix-urlbar-input-width) !important;
    }
  }

  #urlbar {
    &[pageproxystate="valid"] {
      &:not([breakout-extend]) {
        #identity-icon-label,
        #userContext-label {
          display: none;
        }
      }
    }
  }

  #alltabs-button,
  #tabbrowser-arrowscrollbox {
    & > :not(.tabbrowser-tab) {
      display: none !important;
    }
  }
}
