#titlebar {
  flex-basis: 0;
  flex-grow: 1;
}

#TabsToolbar {
  --toolbarbutton-inner-padding: 8px !important;
}

#tabbrowser-tabs {
  margin-top: var(--phoenix-window-dragging-area-height);
}

.titlebar-spacer {
  display: none;
}

.tab-background {
  transition: background-color var(--phoenix-transition-speed);
}
