#nav-bar {
  --toolbar-field-background-color: transparent;
}

#urlbar {
  --urlbar-background-color: transparent;

  &:hover {
    --toolbar-field-background-color: var(--toolbar-background-color);
    --urlbar-background-color: var(--toolbar-background-color);
  }
}

:is(#urlbar-background, .urlbar-background) {
  --toolbar-field-border-color: transparent !important;
  --toolbar-field-border-color-focus: transparent !important;
}
